.footer-img {
  width: 100%;
  z-index: 0;
  position: relative;
}
.contact {
  display: flex;
  z-index: 1;
  color: #ffffff;
  font-size: 1.4rem;
}

a {
  color: #ffffff;
}

a:hover {
  color: #f05a28;
  text-decoration: none;
}
